#body {
  background-color: white;
  font-family: 'PT Sans', sans-serif;
  overflow-x: hidden;
}

/* navigation */
.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  font-family: 'Rubik Mono One', sans-serif;
  margin-left: 20px;
  font-size: 48px;
  letter-spacing: -4px;
}

#link:hover {
  text-decoration: none;
}

#link,
.total {
  color: black;
}

.user {
  width: 40px;
}

.garage {
  color: #faa501;
}

/* home page */

.home-button {
  background-color: #faa501;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  width: 30vw;
  height: 100%;
  flex-direction: column;
  border: 4px solid white;
}

.home-button:hover {
  border: 4px solid black;
}

#search-message,
#create-message {
  font-weight: 900;
}

#search-message:hover,
#createmessage:hover {
  text-decoration: none;
}

.welcome-div {
  display: flex;
  justify-content: center;
}

.welcome-top {
  font-weight: 900;
}

.welcome-message {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
  max-width: 80vw;
  border-radius: 25px;
  padding: 20px;
  display: block;
  font-size: 1.5em;
}

.car-button,
.wrench-button {
  background-color: transparent;
  padding: 20px;
  max-width: 30vw;
}

.home-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

/* results page */

.results-message {
  margin-top: 50px;
  margin-bottom: 50px;
  margin-left: 20px;
  max-width: 80vw;
  padding: 20px;
  display: block;
  font-size: 1.5em;
}

.results-item {
  font-size: 28px;
  margin-top: 25px;
  display: flex;
}

.orange-text {
  color: #faa501;
  font-weight: bold;
}

.results {
  margin-left: 25px;
}

/* thank you page */

.return-home {
  background-color: #faa501;
  border-radius: 25px;
  padding: 15px;
  border: 4px solid #6c757d;
}

.return-home:hover {
  border: 4px solid #3d3b3c;
}

/* login page */

.login-message {
  margin-top: 20px;
  padding: 7px;
}

.form-container {
  max-width: 80vw;
  margin: auto;
  margin-top: 80px;
}

.login {
  display: flex;
  align-items: center;
}

.logout {
  background-color: #f8f9fa;
}
.gear {
  width: 40px;
}

.search-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
}

.list-item {
  color: #faa501;
  font-size: 5em;
}

/* changes specific to mobile views */

@media (max-width: 600px) {
  .nav {
    display: flex;
    justify-content: center;
  }

  .logo {
    font-family: 'Rubik Mono One', sans-serif;
    font-size: 40px;
    margin-left: -15px;
    letter-spacing: -4px;
  }

  .user {
    margin: 0 20px;
  }

  .gear {
    width: 30px;
  }

  .welcome-message {
    font-size: 1em;
  }

  .home-container {
    display: flex;
    flex-direction: column;
  }

  .home-button {
    min-width: 80vw;
    margin-bottom: 20px;
  }

  .car-button,
  .wrench-button {
    min-width: 70vw;
  }

  .list-item {
    font-size: 3em;
  }

  .results-item {
    font-size: 1em;
    display: flex;
    flex-wrap: wrap;
  }

  .results-text {
    order: -1;
    align-self: flex-start;
  }

  .button-pair {
    margin: auto;
  }
}

@media (max-width: 700px) {
  .login-message {
    display: none;
  }
}
